@import "tailwindcss";


body {
  font-family: Arial, Helvetica, sans-serif;
}
a.active hr {
  display: block;
}
::-webkit-scrollbar{
  display: none;
}

@media (max-width:640px){
  a.active{
    background-color: black;
    color: white;
  }
}